<div id="passwordChangedSnackbar">Password changed Successfully!</div>
<div id="clientProfileEditedSnackbar">Client&apos;s Profile Picture has been changed Successfully!</div>
<div id="propEditedSnackbar"> Property has been edited Successfully! </div>
<div id="propDeletedSnackbar"> Property has been deleted Successfully! </div>
<div id="propImageAddedSnackbar"> Property image has been added Successfully! </div>
<div id="propImageRemovedSnackbar"> Property image has been removed Successfully! </div>
<div id="requestEditedSnackbar"> Requested Property has been edited Successfully! </div>
<div id="requestDeletedSnackbar"> Requested Property has been deleted Successfully! </div>
<div id="requestErrorSnackbar"> Requested Property didn&apos;t edited Successfully!<br> Something went wrong.</div>
