<div class="container">
	<!-- Modal -->
	  <div class="modal fade" tabindex="-1" id="clientActiveErrorModal" role="dialog">
	    <div class="modal-dialog">

	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4><i class="fa fa-remove"></i> Not Activated Yet</h4>
	        </div>
	        <div class="modal-body">
	          <p class="modal-info"> Activate yourself by clicking the mail you recieved on your email or request admin for activating you.</p>
	        </div>
	      </div>
	    </div>
	  </div> 
	</div>
</div>
