<div class="container">
	<!-- Modal -->
	  <div class="modal fade" tabindex="-1" id="likersModal" role="dialog">
	    <div class="modal-dialog modal-lg">

	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4><i class="fa fa-heart fa-fw"></i> Property Likers</h4>
	        </div>
	        <div class="modal-body">
	        	<table class="table table-responsive table-bordered">
	        		<thead>
	        			<tr>
	        				<th>#</th>
	        				<th>Firstname</th>
	        				<th>Lastname</th>
	        				<th>Email</th>
	        				<th>Gender</th>
	        				<th>Contact</th>
	        				<th>Liked On</th>
	        			</tr>
	        		</thead>
	        		<tbody id="likers-data">
	        			<tr>
	        				<td colspan="6">No record found</td>
	        			</tr>
	        		</tbody>
	        	</table>
	        </div>	        
	      </div>
	    </div>
	  </div> 
	</div>
</div>
