<footer style="">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<br>
				<p>&copy; Copyright - All rights reserved. Designed and developed by <a href="https://www.facebook.com/rizwan.raza.365"> Rizwan Raza</a>, <a href="https://www.facebook.com/people/Naseem-Ahmad/100009557785477"> Naseem Ahmad</a> and <a href="https://www.facebook.com/obaid.mohdaslam"> Obaid Mohd Aslam</a></p>
			</div>
			<div class="col-md-4 col-sm-6 text-right">
				<a href="/" style="text-decoration: none;color: #fff"><h3><img src="img/rex.png">.E.X -&nbsp;Real&nbsp;Estate&nbsp;eXplorer</h3></a>
			</div>
		</div>
	</div>
</footer>
